apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  name: "{{ inventory_hostname.split('.')[0] }}"
  criSocket: "/run/containerd/containerd.sock"
  kubeletExtraArgs:
    cgroup-driver: systemd
    fail-swap-on: "false"
localAPIEndpoint:
  advertiseAddress: "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
  bindPort: 6443

---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  serviceSubnet: "10.96.0.0/12"
  podSubnet: "10.244.0.0/16"  # Flannel's default Subnet
  dnsDomain: "cluster.lan"
kubernetesVersion: "stable"
controlPlaneEndpoint: "10.1.0.2:8443"  # Replace with your values
apiServer:
  certSANs:
  - "10.1.0.2"
  - "master01.aquabrain.lan"
  - "master02.aquabrain.lan"
  - "master03.aquabrain.lan"